{%load static%}
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Contact Information</h3>
                <p>Email: contact@skillhiveconnection.com</p>
                <p>Phone: +91 9000556996</p>
                <p>Address: Skill Hive Connection <br>
                    453 Tech Boulevard <br>
                    Cityville, chennai 543201 <br>
                    India</p>
                <!-- <div class="app-logo">
                    <img src="images/play-store.png' %}">
                    <img src="images/app-store.png' %}">
                </div> -->
            </div>
            <div class="footer-col-2">
                <!-- <img src="images/logo-white.png' %}"> -->
                <h3>FAQ</h3>

                <p><a href="">Need help?</a>  Check out our FAQ.
                </p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow Us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">© 2024 Skill Hive Connection. All rights reserved.</p>
    </div>
</div>