{% load static %}
<div class="navbar">
    <div class="logo">
        <a href="index.html"><span class="text-dark" style="font-size: 26px; font-family: Arial, Helvetica, sans-serif;"><b>SkiLL </b></span>
            <span class="text-secondary" style="font-size: 26px; font-family: Arial, Helvetica, sans-serif;"><b>Hive </b></span></a>
    </div>
    <nav>
        <ul id="MenuItems">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'homeContent' %}">Services</a></li>
            <li><a href="{% url 'bookHistory' %}">History</a></li>
            <li><a href="">Contact</a></li>
            <!-- <li><a href="account.html">Account</a></li> -->
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li><a href="{% url 'profile' %}">    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M12 2.5a5.25 5.25 0 0 0-2.519 9.857 9.005 9.005 0 0 0-6.477 8.37.75.75 0 0 0 .727.773H20.27a.75.75 0 0 0 .727-.772 9.005 9.005 0 0 0-6.477-8.37A5.25 5.25 0 0 0 12 2.5Z"></path></svg>
            </a></li>
        </ul>
    </nav>

        
   
    <!-- <img src="{% static 'images/logo.png' %}" class="menu-icon" onclick="menutoggle()"> -->
</div>