{% load static %}
<div class="testimonial">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>I used this platform to find a skilled professional for a plumbing issue at home.
                     The process was smooth, and I was impressed with the quality of service. Highly recommended!</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <img src="{% static 'images/testimonial/dp1.jpg' %}">
                <h3>Sean De Parker</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>I needed urgent electrical repairs, and this platform connected me with a skilled electrician within hours.
                     The review system gave me confidence in my choice,
                     and the whole experience exceeded my expectations.</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <img src="{% static 'images/testimonial/dp2.jpg' %}">
                <h3>Liyana Smith</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>As a landscaper, I appreciate the simplicity of managing bookings and payments through this platform.
                     It has streamlined my business operations,and the exposure to potential clients is invaluable</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <img src="{% static 'images/testimonial/dp3.jpg' %}">
                <h3>Makram Joe</h3>
            </div>
        </div>
    </div>
</div>